footer {
  padding: 3.2rem;
  text-align: center;
  background-color: var(--btn-color);
  margin-top: auto;
  color: var(--bg-color);

}
.footerNavlink{
  color: var(--bg-color);
  text-decoration: none;
}
.footerNavlink:hover{
  color: var(--bg-color);
  text-decoration: underline;
}