.container {
  max-width: 140rem;
  padding: 4.2rem 2.4rem;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  gap: 3.2rem;
}
.menu-icon{
  display: none;
}
li>a {
  font-size: 2.2rem;
  color: #646cff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 4.2rem 1.6rem;
  }

  ul {
    gap: 2.4rem;
  }
  li>a {
    font-size: 2rem;
  }

  .logo-brand {
    font-size: 2.4rem;
  }
  .menu-icon{
    display: none;
  }


  
}

@media screen and (max-width: 600px){
  nav > ul > li :first-child{
    color: #646cff;
  }
nav > ul > li > a {
  display: inline-block;
  padding: 1.6rem 0;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

nav > ul {
  display: block;
  position: relative;
  padding: 0 5rem;
  width: fit-content;
  transition: all 0.9s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50px);
    color: #f1356d;
  }
  to {
    opacity: 1;
    transform: translateY(0);    
  }
}


  .show{
    display: block;
  }
  .menu-icon {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: right;
    cursor: pointer;
    position: absolute;
    right: 0rem;
  }
  
  .hamicon{
    display: block;
    color: #646cff;
  }
 .cross-icon {
    font-size: 2rem;

  }
   
  .menu-icon:hover {
    color: #f1356d;
  }
  
}